body {
    padding-top: 50px;
}

.overflow-hidden {
    overflow: hidden;
}

.shrink {
    font-size: 0.8em;
}
.right {
    float: right;
}
.left {
    float: left;
}
table.clean_table td {
    vertical-align: top;
    padding: 10px;
}

/*Custom icons*/
.icon-refresh-spin {
    background-image: url('../img/refresh_loading.gif');
    background-position: 0 0;
}
.icon-refund {
    background-image: url('../img/refund.png');
    background-position: 0 0;
}

/*Bootstrap modifications*/
.modal-small {
    width: 280px;
    margin-left: -125px;
}

/*Login*/
#login {
    padding: 10px;
}

/*Home*/

#home h2{
    color: #444;
}

#home .cp_module {
    padding-left: 20px;
}

#home a:hover i {
    border-bottom: 1px solid #005580;
    height: 1em;
}

/*Add/Edit Items*/
 
.input-prepend .btn-group .btn, 
.input-append .btn-group .btn {
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-prepend.input-append .btn-group:last-child .btn:first-child {
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-append .btn-group .btn:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;        
}

.input-prepend .btn.active, 
.input-append .btn.active 
{
    z-index: 2;
    position: relative;
}

.input-append div {
    display: inline;
}

label.inline {
    display: inline;
}

.button-message {
    margin: 0 5px;
}

.fileinput-button {
    width: 100px;
    height: 18px;
    position: relative;
    overflow: hidden;
}

.image-upload .span2 {
    height: 36px;
}

.image-upload .progress,
.image-upload .progress .bar
{
    height: 28px;
}

.fileinput-button input{
    opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    position: absolute;
    left: 0;
    top: 0;
}

.move-up,
.move-down,
.delete-row,
.delete-item,
.edit-item,
.edit-option {
    cursor: pointer;
}

#add_items_modal .modal-header {
    padding-bottom: 0;
    border-bottom: none;    
}

#container {
    background: #FAFAFF;
    min-width: 934px;
    width: 85%;
    padding: 0 15px;
}

#module_menu {
    background: #fff;
}

#footer {
    background: #fff;
    border-top: 1px solid #ddd;
}

#image_upload {
    display: inline;
}

#search {
    margin-bottom: 0;
}

/*View Transaction*/
#search_filters {
    font-size: 0.8em;
}

#search_filters label{
    line-height: 1em;
    margin-bottom: 0;
}

#search_filters textarea{
    line-height: 1em;
    font-size: 1em;    
}

#search_filters select {
    font-size: 1em;
    height: 2.2em;
}

#search_filters input,
#search_filters label
{
    font-size: 1em;
    height: 1.1em;
}

#search_filters #date_filters label {
    width:28px;    
}


/*Single Transactions*/
#single_transaction {
    padding: 15px;
}
#single_transaction h4 {
    margin-top: 10px;
}

/*Customers*/

/*Settings*/
.section-header {
    margin-left: 15px;
}

/*debug*/
#sc_debug_footer {
    font-size: 12px;
    background: #000;
    color: #040;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#sc_debug_footer a {
    color: #060;    
}

#sc_debug_controls {
    float: right;
    background: #000;
    color: #060;
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2; 
    
}


