<IfModule mod_rewrite.c>
    RewriteEngine On 

    #Checks to see if this is an request for a specific thing
    RewriteRule ^ajax(.*)$ core/ajax.php?$1 [L]
    RewriteRule ^relay(.*)$ core/outgoing_relay.php?$1 [L]
    RewriteRule ^receipt(.*)$ core/receipt.php?$1 [L]
    RewriteRule ^cancel(.*)$ core/cancel.php?$1 [L]
    RewriteRule ^cp(.*)$ core/cp.php?$1 [L]

</IfModule>
