body {
    padding-top: 50px;
}

.overflow-hidden {
    overflow: hidden;
}

/*Add/Edit Items*/
 
.input-prepend .btn-group .btn, 
.input-append .btn-group .btn {
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-prepend.input-append .btn-group:last-child .btn:first-child {
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-append .btn-group .btn:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;        
}

.input-prepend .btn.active, 
.input-append .btn.active 
{
    z-index: 2;
    position: relative;
}

.input-append div {
    display: inline;
}

label.inline {
    display: inline;
}

.button-message {
    margin: 0 5px;
}

.fileinput-button {
    width: 100px;
    height: 18px;
    position: relative;
    overflow: hidden;
}

.image-upload .span2 {
    height: 36px;
}

.image-upload .progress,
.image-upload .progress .bar
{
    height: 28px;
}

.fileinput-button input{
    opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    position: absolute;
    left: 0;
    top: 0;
}

.move-up,
.move-down,
.delete-row,
.delete-item,
.edit-item,
.edit-option {
    cursor: pointer;
}

#add_items_modal .modal-header {
    padding-bottom: 0;
    border-bottom: none;    
}

#container {
    background: #FAFAFF;
    min-width: 960px;
    width: 85%;
}

#module_menu {
    background: #fff;
}

#footer {
    background: #fff;
    border-top: 1px solid #ddd;
}

#image_upload {
    display: inline;
}

#search {
    margin-bottom: 0;
}


